<div class="row">
  <div class="col mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" class="user-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Edad</th>
        <td mat-cell *matCellDef="let element">{{element.age}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">{{element.phone}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="clickRow(row)" [ngClass]="{'highlight': selectedRowIndex == row.id}"
        *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="col mat-elevation-z2">
    <div class="form">
      <input matInput [value]="selectedRowIndex" hidden>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" [formControl]="user.name" required>
        <mat-error *ngIf="user.name.invalid">{{validateField('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" [formControl]="user.lastname" required>
        <mat-error *ngIf="user.lastname.invalid">{{validateField('lastname')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Edad</mat-label>
        <input matInput type="number" placeholder="Edad" [formControl]="user.age" required>
        <mat-error *ngIf="user.age.invalid">{{validateField('age')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Correo" [formControl]="user.email" required>
        <mat-error *ngIf="user.email.invalid">{{validateField('email')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput type="number" placeholder="Telefono" [formControl]="user.phone" required>
        <mat-error *ngIf="user.phone.invalid">{{validateField('phone')}}</mat-error>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="saveUser()" [disabled]="!newUser">Crear</button>
        <button mat-raised-button color="primary" (click)="updateUser()" [disabled]="newUser">Guardar</button>
        <button mat-raised-button color="warn" (click)="deleteUser()" [disabled]="newUser">Eliminar</button>
        <button mat-raised-button color="accent" (click)="cancelAction()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<swal
  #infoSwal
  title="Datos Invalidos"
  text="Campos incompletos o invalidos."
  icon="warning"
  [showCancelButton]="false">
</swal>
