.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 15px;
}

.user-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  transition: border-color 0.2s;
}

.highlight {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field {
  width: 50%;
  margin: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}
